body {
  font-family: 'Neucha', cursive;
  font-size: 2em;
  padding-bottom: 40px;
}

food-new, food-edit {
  font-size: 0.8em;
}

.cccc_image {
  min-width: 300px;
}

.cccc_image img {
  margin-top: 20px;
}
