body {
  font-family: 'Neucha', cursive;
  font-size: 2em;
  padding-bottom: 40px;
}

food-new, food-edit {
  font-size: 0.8em;
}

.cccc-image-holder {
  width: 330px;
}

.cccc-image-holder img {
  width: 300px;
  margin-top: 20px;
}

.food-list-row {
  background-color: #FF851B;
  padding-top: 5px;
  margin-bottom: 5px;
  color: white;
}
